           <!-- Person Card START -->
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
            <div class="m-0 p-3 m-3" style="height:700px; background-color: #003b39; border-radius: 5px; width:500px;">
                <div class="row d-flex justify-content-center">
                    <img src="https://api.uifaces.co/our-content/donated/xZ4wg2Xj.jpg" style="width:200px; height:200px; object-fit:cover;" alt="" class="p-0 rounded-circle">
                </div>
                <div class="row text-light text-center mt-2 mb-4">
                    <span class="fs-2">John Doe</span>
                    <span class="fs-5">Case id: ###</span>
                </div>
                <div class="row">
                    <div class="col-6 text-light text-start fs-5">
                        <p class="p-0 m-0">Nationality:</p>
                        <p class="p-0 m-0">Birth Date:</p>
                        <p class="p-0 m-0">Application Date:</p>
                        <p class="p-0 m-0">Status:</p>
                        <p class="p-0 m-0">Contact No:</p>
                        <p class="p-0 m-0">E-mail:</p>
                        <p class="p-0 m-0">Agency</p>
                        <p class="p-0 m-0">Reference</p>
                    </div>
                    <div class="col-6 text-light text-start fs-5 fw-lighter">
                        <p class="p-0 m-0 fw-light">Algerian</p>
                        <p class="p-0 m-0 fw-light">05.05.1995</p>
                        <p class="p-0 m-0 fw-light">05.08.2022</p>
                        <p class="p-0 m-0 fw-light">Still in progress</p>
                        <p class="p-0 m-0 fw-light">+90 555 55 55</p>
                        <p class="p-0 m-0 fw-light">john@exmp.com</p>
                        <p class="p-0 m-0 fw-light">Bayat Group</p>
                        <p class="p-0 m-0 fw-light">None</p>
                    </div>
                </div>
            </div>
        </div>



<!-- Person Card END -->

        <div class="col-lg-7">
            <div class="row">
                <table class="w-100 mt-3 my-1">
                    <tr style="background-color:#003b39">
                        <th class="border-1 border p-2 text-center text-light">Document Title</th>
                        <th class="border-1 border p-2 text-center text-light">File to upload</th>
                        <th class="border-1 border p-2 text-center text-light">Notes</th>
                    </tr>
                    <tr>
                        <td class="border-1 border"><input class="w-100 h-100 bg-transparent border-0" type="text"></td>
                        <td class="border-1 border"><input class="w-100 h-100 bg-transparent"  type="file"></td>
                        <td class="border-1 border"><input class="w-100 h-100 bg-transparent border-0" type="text"></td>
                    </tr>
                </table>
                <div class="col-sm-0 col-lg-4"></div>
                <div class="col-sm-0 col-lg-5"></div>
                <div class="col-sm-12 col-lg-3 p-0 d-flex justify-content-end"><button class="text-light border-0 py-1 rounded" style="background-color:#003b39; width:100%;"><i class="fa-solid fa-upload"></i> Upload</button></div>
            </div>
            <div class="row">
                <table class="w-100 my-3">
                    <tr style="background-color:#003b39">
                        <th class="border-1 border p-2 text-center text-light">Document Title</th>
                        <th class="border-1 border p-2 text-center text-light">Download</th>
                        <th class="border-1 border p-2 text-center text-light">Upload Date</th>
                        <th class="border-1 border p-2 text-center text-light">Notes</th>
                    </tr>
                    <tr class="text-center">
                        <td class="border-1 border fw-light">Marriage Certificate</td>
                        <td class="border-1 border fw-light"><button class="btn w-100 text-light bg-dark"><i class="fa-solid fa-download"></i></button></td>
                        <td class="border-1 border fw-light">25.05.2022</td>
                        <td class="border-1 border fw-light">Some Additional Notes</td>
                    </tr>


                </table>
            </div>
        </div>