{% extends 'admin/base.html' %}
{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
            <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
{#        <link href="css/styles.css" rel="stylesheet" />#}
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin/template.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}



{% block branding %}
    <img class="logo" class="logo" height="70px" width="60px" src="{% static 'viya1/images/Logo.png' %}"/>
    <h1 id="site-name" style="display:none;"><a href="{%  url 'admin:index' %}">Viya Database</a></h1>
{% endblock %}




{% block usertools %}
        {% if has_permission %}
        <div id="user-tools">

            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}

            {% block userlinks %}

                {% if site_url %}
                    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                {% endif %}
            {% endblock %}
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ docsroot }}">{% translate 'Documentation' %}</a></li>
                         {% endif %}
                    {% endif %}

                      {% if user.has_usable_password %}
                      <li><a class="dropdown-item" href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a></li>
                      {% endif %}

                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a></li>

                    </ul>
                </li>

                <script src= "{% static 'js/script.js' %}"></script>
                <script src= "{% static 'js/datatables-simple-demo.js' %}"></script>
                <script src= "{% static 'assets/chart-area-demo.js' %}"></script>
                <script src= "{% static 'assets/demo/chart-bar-demo.js' %}"></script>
            </ul>




{#            {% endblock %}#}

        </div>
  {% endif %}

{% endblock %}


{% block nav-sidebar %}
{#          {% include "admin/nav_sidebar.html" %}#}
{#            <a href= "scrap_data">Get data from website</a>#}
{% endblock %}



{% block content %}
<div id="content-main">
{#  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}#}
</div>
{% endblock %}


{% block content_title %}

    {% if title %}
    <h1 style='display:none;'>{{ title }}</h1>
    {% endif %}

    <div class="row container-fluid p-2" style="font-family:Trebuchet MS;">
        <!-- Person Card START -->
        <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
            <div class="m-0 p-3 m-3" style="height:auto; background-color: #003b39; border-radius: 5px; width:500px;">
                <div class="row d-flex justify-content-center">
                    <img src="{{ slug_1.photo.url }} " style="width:200px; height:200px; object-fit:cover;" alt="" class="p-0 rounded-circle">
                </div>
                <div class="row text-light text-center mt-2 mb-4">
                    <span class="fs-2">{{ slug_1.name }} {{ slug_1.surname }}</span>
                    <span class="fs-5">Case id: {{ slug_1.id }}</span>
                </div>
                <div class="row">


                    <div class="col-6 text-light text-start fs-5">
                       <p class="p-0 m-0"> Nationality:</p> {# Nationality:#}
                        <p class="p-0 m-0">Birth Date:</p>  {# Birth Date:#}
                        <p class="p-0 m-0">Application Date:</p>  {# Application Date:#}
                        <p class="p-0 m-0">Status:</p>  {# Status:#}
                        <p class="p-0 m-0">E-mail:</p>
                        <p class="p-0 m-0">Address:</p>
                    </div>

                    <div class="col-6 text-light text-start fs-5 fw-lighter">
                        <p class="p-0 m-0 fw-light">{{ slug_1.nationality }}</p>
                        <p class="p-0 m-0 fw-light">{{ slug_1.birthday|date:"M d, Y" }}</p>
                        <p class="p-0 m-0 fw-light">{{ slug_1.date_of_application|date:"M d, Y" }}</p>
                        <p class="p-0 m-0 fw-light">{{ slug_1.status }}</p>
                        <p class="p-0 m-0 fw-light">{{ slug_1.email }}</p>
                        <p class="p-0 m-0 fw-light">{{ slug_1.address }}</p>
                        <br><br>
                    </div>

                <br><br><br><br>

                <div class="col-12 text-light text-start fs-5">
                <p class="text-start p-0 m-0">Contacts:</p>
                </div>
                 <br><br>

                  <div class="col-6 text-light text-center fs-5">
                        {% if phone.values  %}
                        {% for x in phone.values %}
                        <p class="p-0 m-0">Contact number {{ x.type|add:1}} </p>
                        {% endfor %}
                        {% endif %}
                    </div>

                  <div class="col-6 text-light text-start fs-5 fw-lighter">
                        {% if phone.values  %}
                        {% for x in phone.values %}
                        <p class="p-0 m-0 fw-light">{{ x.phone_nr }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>

                <br><br><br><br>


                <div class="col-12 text-light text-start fs-5">
                <p class="text-start p-0 m-0">References:</p>
                </div>
                 <br><br>

                  <div class="col-6 text-light text-center fs-5">
                        {% if reference.values  %}
                        {% for x in reference.values %}
                        <p class="p-0 m-0">Reference {{ x.type_reference}} </p>
                        {% endfor %}
                        {% endif %}
                    </div>

                  <div class="col-6 text-light text-start fs-5 fw-lighter">
                        {% if reference.values  %}
                        {% for x in reference.values %}
                        <p class="p-0 m-0 fw-light">{{ x.reference_name }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>




                </div>
            </div>
        </div>
        <!-- Person Card END -->

        <div class="col-lg-7">
            <div class="row">
                <table class="w-100 mt-3 my-1">

                    <tr style="background-color:#003b39">
                        <th class="border-1 border p-2 text-center text-light">Document Title</th>
                        <th class="border-1 border p-2 text-center text-light">File to upload</th>
                        <th class="border-1 border p-2 text-center text-light">Notes</th>
                    </tr>

                    <tr>
                        <td class="border-1 border"><input class="w-100 h-100 bg-transparent border-0" type="text" placeholder="Document title"></td>
{#                         <td class="border-1 border"><input class="w-100 h-100 bg-transparent"  type="file"></td>#}
                        <td class="border-1 border">
                            <input type="file" name="clients_documents-0-client_dokument" id="id_clients_documents-0-client_dokument">
                        </td>
                        <td class="border-1 border"><input class="w-100 h-100 bg-transparent border-0" type="text"  placeholder="Notes"></td>
                    </tr>

                    <tr>

                        <div class="container" style="padding:20px;">
                        <div class="row">
                            <div class="col-12">
                             <p><h1>Django File Upload Save to Mysql Database</h1></p>
                             <form method="POST" class="post-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_table}}
                            <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                        </div>
                        </div>

                    </tr>

                </table>
                <div class="col-sm-0 col-lg-4"></div>
                <div class="col-sm-0 col-lg-5"></div>

{#                <input type="submit" value="Save" class="default" name="_save">#}

                <div class="col-sm-12 col-lg-3 p-0 d-flex justify-content-end">

                    <button type="submit" value="Save" class="default" name="_save" class="text-light border-0 py-1 rounded" style="background-color:#003b39; width:100%;">
                    <i class="fa-solid fa-upload">
                    </i> Upload
                    </button>

                </div>

            </div>
            <div class="row">
                <table class="w-100 my-3">
                    <tr style="background-color:#003b39">
                        <th class="border-1 border p-2 text-center text-light">Document Title</th>
                        <th class="border-1 border p-2 text-center text-light">Download</th>
                        <th class="border-1 border p-2 text-center text-light">Upload Date</th>
                        <th class="border-1 border p-2 text-center text-light">Notes</th>
                    </tr>


                    {% if client_document %}
                        {% for document in client_document %}

                    <tr class="text-center">
                        <td class="border-1 border fw-light">{{ document.name_of_document}}</td>
{#                        <td class="border-1 border fw-light"><button class="btn w-100 text-light bg-dark"><i class="fa-solid fa-download"></i></button></td>#}
                        <td class="border-1 border fw-light"> <a href ="{{ document.client_dokument.url }}"><button class="btn w-100 text-light bg-dark" type="button" onclick="_blank" ><i class="fa-solid fa-download"></i> </button></a></td>

                        <td class="border-1 border fw-light">{{ document.date_of_upload|date:"M d, Y"}}</td>
                        <td class="border-1 border fw-light">{{ document.description}}</td>
                    </tr>
                        {% endfor %}
                    {% endif %}

                    {% if family_document %}
                        {% for document in family_document %}
                    <tr class="text-center">
                        <td class="border-1 border fw-light">{{ document.name_of_document}}</td>
{#                        <td class="border-1 border fw-light"><button class="btn w-100 text-light bg-dark"><i class="fa-solid fa-download"></i></button></td>#}
                        <td class="border-1 border fw-light"> <a href ="{{ document.family_dokument.url }}"><button class="btn w-100 text-light bg-dark" type="button" onclick="_blank" ><i class="fa-solid fa-download"></i> </button></a></td>

                        <td class="border-1 border fw-light">{{ document.date_of_upload|date:"M d, Y"}}</td>
                        <td class="border-1 border fw-light">{{ document.description}}</td>
                    </tr>
                        {% endfor %}
                    {% endif %}


                </table>

{#                <div class="bg-warning my-5">clientdata ===> <br> {{ clientdata}}</div>#}
{##}
{#                <div class="bg-warning my-5">clientdata.values:===> <br> {{ clientdata.values}}</div>#}
{##}
{#                <div class="bg-warning my-5">QUERY ===> {{ clientdata }}</div>#}
{##}
{#                <div class="bg-warning my-5">slug_1 ===> {{ slug_1}}</div>#}
{##}
{#                <div class="bg-warning my-5">phone{{ phone}}</div>#}
{##}
{#                <div class="bg-warning my-5">phone.id{{ phone.values}}</div>#}
{##}
{#            {% if phone.values  %}#}
{#                {% for x in phone.values %}#}
{#                <div class="bg-warning my-5">x {{ x.id }}</div>#}
{#                {% endfor %}#}
{#            {% endif %}#}

            </div>
        </div>
    </div>

{% endblock %}






